@charset "koi8-r";
/* CSS Document */

/*CONTAINER STYLES*/

.container {
	width: 100%;
	margin: 30px auto;
	overflow: hidden;
}
.container2 {
	width: 95%;
	margin: 30px auto;
	overflow: hidden;
}
.container2 ul li {
	background:none 0px 0px no-repeat;
	padding-left: 1px;
}	

/*GALLERY STYLES*/
.galleryItem {
	color: #797478;
	font: 12px/1 Verdana, Helvetica, sans-serif;
	width: 45%;
	margin:  2% 2% 50px 2%;
	float: left;
	-webkit-transition: color 0.5s ease;
}

.galleryItem:hover {
	color: #000;
}

.galleryItem img {
	max-width: 100%;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}



/* MEDIA QUERIES*/
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
	.galleryItem {width: 98%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
	.galleryItem {width: 98%;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
	.galleryItem {width: 98%;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	.galleryItem {width: 98%;}
	.galleryItem img {width: 98%;}
}