AddDefaultCharset utf-8
Options +FollowSymLinks
ErrorDocument 404 /about.html
ErrorDocument 403 /about.html
ErrorDocument 401 /about.html
ErrorDocument 500 /about.html
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteRule ^index.php$ / [QSA,R]
RewriteRule ^index.html$ / [QSA,R]
RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]